{% load static from static %}
{% csrf_token %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Us - Brand</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'css/smoothproducts.css' %}">
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Jewel Hotel</title>

    <link href="{% static 'blog/style/fontawesome.min.css' %}" rel="stylesheet"> 
    <!fontawesome.min.css>

    <link href="{% static 'blog/style/brands.min.css' %}" rel="stylesheet">
    <!brands.min.css>
    <link href="{% static 'blog/style/solid.min.css' %}" rel="stylesheet">
    <!solid.min.css>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/style/bootstrap.min.css' %}" >
    <!bootstrap.min.css>

    <link rel="stylesheet" href="{% static 'blog/style/jquery-ui.1-12-1.min.css' %}">
    <!jquery-ui.1-12-1.min.css>

    <link rel="stylesheet" href="{% static 'blog/style/header_footer.css' %}">
    <!header_footer.css>

    <link rel="stylesheet" href="{% static 'blog/style/branch.css' %}" >
    <!branch.css>
</head>

<body>
   <nav class="navbar fixed-top navbar-expand-md navbar-dark">
         <div class="container-fluid container-lg">
            <a class="navbar-brand" href="#">Jewel Hotel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav">

                  <li class="nav-item">
                     <a class="nav-link" aria-current="page" href='/hotelhome' >Home</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href='/hotelhome' id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Branches
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for hotel in hotels %}
                        <li><a class="dropdown-item" href='/branch/{{hotel.id}}'>{{hotel.Name}}</a></li>
                        {% endfor %}
                     </ul> 

                  </li>
                  <li class="nav-item">
                     <a class="nav-link" aria-current="page" href='../bookings'>bookings</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" aria-current="page" href='../about/'>About Us</a>
                  </li>
                  {% if user.is_superuser %}
                  <li class="nav-item">
                     <a class="nav-link active" href='/admin/' aria-current="page">Admin</a>
                  </li>
                  {% endif %}
               </ul>
               <ul class="navbar-nav ms-auto">
                  {% if user.is_authenticated %}
                  <li class="nav-item ">
                     <a class="nav-link" href="/profile"> Welcome, {{user.first_name}} {{user.last_name}}</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/logout">logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item ">
                     <a class="nav-link" href='/login'>Login</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href='/signup'>join us</a>
                  </li>
                  {% endif %}
               </ul>
            </div>
         </div>

      </nav>

    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h1 style="color: rgb(8,82,109);">Your Bill</h1>
                </div>
                <form>
                    {% csrf_token %}
                    <div class="form-group"><h7 style="color: rgb(8,82,109);"><label>Arrival Date: </label>
                     &nbsp;{{booking.arrivedate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Leave Date: </label>
                    &nbsp; {{booking.leavedate}}</h7>
                    </div>
                    
                    <div class="form-group"><h7 style="color: rgb(8,82,109);"><label>Your Services: </label> {%for each in services%}  &nbsp;&nbsp; {{each.Name}} {% endfor%}</h7> </div>
                    
                    <!-- <div class="form-group"> </div> -->
                    <div class="form-group"><h3 style="color: rgb(8,82,109);"><label>Total Bill: </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{amount}} LE</h3>
                    </div>
                    <!-- <div class="form-group"> </div> -->
                    <!-- <div class="form-group"> </div> -->
                    <!-- <div class="form-group"> </div> -->
                    <!-- <div class="form-group"> </div> -->
                    <!-- <div class="form-group"> </div> -->

                    <!-- <div class="form-group"> </div> -->
                </form>

            </div>
        </section>
    </main>
     <div class="footer py-4 text-left">
         <div class="foot-up">
            <div class="container">
               <div class="row">
                  <div class="col">
                     <h5>Home</h5>
                     <ul class="list-unstyled">
                        <li><a>search</a></li>
                        <li><a>Help</a></li>
                     </ul>
                  </div>
                  <div class="col">
                     <div class="follow">
                        <div class="row">
                           <h6>follow us on</h6>
                        </div>
                        <div class="row">
                           <ul class="list-unstyled d-flex justify-content-around">
                              <li><a><i class="fab fa-facebook-f"></i></a></li>
                              <li><a><i class="fab fa-telegram-plane"></i></a></li>
                              <li><a><i class="fab fa-snapchat-ghost"></i></a></li>
                              <li><a><i class="fab fa-twitter"></i></a></li>
                              <li><a><i class="fab fa-whatsapp"></i></a></li>
                              <li><a><i class="fab fa-youtube"></i></a></li>
                              <li><a><i class="fab fa-google"></i></a></li>
                           </ul>
                        </div>
                        <div>call us <span>+21314</span></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--         end footer  -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>